:root {
    --highlight-color: #0055BD;
    --background-color: #fff; 
    --code-background-color: #F7F7F7;
    --text-color: #4d4e53;
    --highlight-background: #E5F2FC;
}

html {
    box-sizing: border-box;
}

body {
    font-family: Roboto, Verdana ;
    background-color: var(--background-color);
    color: var(--text-color);
}

.highlight { 
    color: var(--highlight-color);
    background-color: var(--code-background-color);
}

#main-doc {
    max-width: 1000px;
    font-size: 0.95rem;
    line-height: 1.5rem;
    padding: 0 10px;
}

nav ul {
   font-size: 0.9rem; 
   list-style: none;
   padding: 0;
}

nav a{
    text-decoration: none;
    color: var(--text-color);
}

nav li {
    border-bottom: 1px solid var(--text-color);
    padding: 10px;
}

nav header {
    padding-top: 10px;
}

nav h1 {
    font-weight: lighter;
    padding-left: 10px;
}

@media(min-width: 1024px){
    nav {
        position: fixed;
        left: 0px;
        top: 0px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        height: 300px;
    }
    #main-doc{
        margin-left: 300px;
    }

}

img {
    width: 60%;
    height: auto;
}

.main-section {
    padding-top: 10px;
}

.block-code {
    background-color: var(--code-background-color);
    padding: 10px;
    border-radius: 10px;
}

p > code {
    padding: 0 5px;
}

.no-hl {
    color: var(--text-color);
}

blockquote {
    background-color: var(--highlight-background);
    padding: 10px;
    border-radius: 10px;
}

blockquote > p:first-of-type {
    color: var(--highlight-color);
    font-weight: bold;
    text-transform: capitalize;
}

